.choose-item-container{
    display:flex;
    flex-direction: row;
    gap: 28px;
    width: 1048px;
    padding: 18px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 8px;
    box-sizing: border-box;
}
.selected-game{
    border: 4px solid black;
    padding: 14px;
}
/* 게임 섬네일 이미지 */
.game-thumbnail{
    background-color: var(--background);
    width: 213.33px;
    height: 120px;
    border-radius: 8px;
    flex-shrink: 0;
}

.game-review-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 게임 제목과 카테고리 */
.game-info-container{
    text-align: left;
}

.game-name-test{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.game-name{
    font-size: 22px;
    font-weight: 500;
}
.test-count{
    padding: 0 20px;
    background-color: var(--primary);
    border-radius: 4px;
    font-size: 16px;
    /* 
        display: flex;
        justify-content: center;
        align-items: center; */
}
.game-category{
    color: #949494;
    font-size: 16px;
}