.game-detail-review-section{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.game-detail-review-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;

    /* 하단 바 보이기위해(전체적으로 조정 필요) */
    margin-bottom: 100px;
    padding-top: 30px;
}
.game-detail-no-review{
    padding: 36px;
    font-size: 16px;
    font-weight: medium;
    color: var(--text);
}

.review-search-tab{
    margin-top: 30px;
}

.dropdown-filter {
    position: relative;
    display: inline-block;
 }
  
.dropdown-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.dropdown-select:focus {
    outline: none;  
}

.dropdown-select option {
    background-color: #fff;
    color: #333;
}

.dropdown-select::-ms-expand {
    display: none;
}