.banner-slide-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 1300px;
    height: 300px;
    background-color: var(--background);
    overflow: hidden;
}

/* banner image (game image) */
.banner-image{
    height: inherit;
    width: 590px;
    background-color: var(--background);
    object-fit: cover;
}

/* banner text(game name and category) */
.banner-text{
    display: flex;
    padding: 0px 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    flex: 1 0 0;
}
.banner-game-name{
    color: var(--text);
    font-size: 44px;
    line-break: strict;
    text-align: start;
    font-weight: 500;
}
.banner-game-category{
    display: flex;
    gap: 8px;
    color: var(--text);
    font-size: 16px;
    font-weight: 300;
    list-style: none;
}