.game-category-list-container{
    display: flex;
    padding: 24px 36px;
    flex-direction: column;
}

.game-category-list{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 1fr);
    gap:36px;
    align-items: center;
    justify-content: center;
    width: inherit;
    padding:24px;
}

.games-pagination{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    gap: 32px;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 20px;
}

.focus{
    color: var(--accent);
    font-weight: bold;
}