.game-category-dropdown-wrapper{
    position: absolute;
    width: fit-content;
    background-color: white;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    
}
.game-category-dropdown-wrapper a{
    list-style: none;
    font-size: 16px;
    color: black;
    width: 210px;
    height: 28px;
    font-weight: 100;
    border-bottom: 1px solid var(--background);

    /* text vertically center */
    display: flex;
    align-items: center;
    justify-content: center;
}


.game-category-dropdown-wrapperli:hover{
    background-color: var(--primary);
}

.category-header{
    font-size: 16px;
    color: white;
    width: 210px;
    height: 28px;
    background-color: var(--accent);

    /* text vertically center */
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-icon{
    background-color: var(--background);
}
.category-header:hover{
    background-color: var(--accent);
    cursor: default;
}
.more-icon:hover{
    background-color: var(--background);
}