.modify-profile-container{
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.profile-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;

}
.category-selection{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    gap: 16px;
}

/* 버튼 */
.buttons{
    display: flex;
    justify-content: end;
    padding-top: 16px;
    gap: 20px;
}
.button{
    font-size: 20px;
    padding: 4px 16px;
    border-radius: 8px;
}
.modify{
    background-color: var(--accent);
    color: white;
}


/* 유저 바이오 textarea */
.user-bio-input{
    width: 400px;
    height: 120px;
    resize: none;
    font-size: 16px;
    font-family: inherit;
    border: 2px solid #D9D9D9;
    border-radius: 4px;
    padding: 10px 12px;
    box-sizing: border-box;
}
