/* 내비게이션 */
a{
    text-decoration: none;
    color: var(--text);
}
.nav-item{
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: inherit;
    list-style: none;
}
.nav-item:hover{
    cursor: pointer;
}

#nav{
    display: flex;
    width: 360px;
    justify-content: flex-start;
    gap: 48px;
    align-items: center;
    flex-shrink: 0;
}

.topbar-left{
    display: flex;
    width: max-content;
    align-items: center;
    gap: 48px;
    flex-shrink: 0;
}

/* 서치 박스 */
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    width: 270px;
    height: 36px;
    border: 2px solid var(--primary);
    background: var(--white);
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}
.search-input{
    border: none;
    font-family: inherit;
}
.search-input:focus{
    outline: none;
}
.search-icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/* 상단바 오른쪽 버튼들 */
.topbar-btn{
    display: inline-flex;
    height: 36px;
    padding: 4px 16px;
    align-items: center;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-family: 'Noto Sans KR'; /*폰트 : 수정필요*/
}

.yellow-btn{
    background-color: var(--primary);
}
.grey-btn{
    background-color: var(--background);
}
.top-bar-buttons{
    display: flex;
    align-items: center;   
    gap: 8px;
}

/* 상단바 오른쪽(서치박스와 버튼) */
.topbar-right{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 36px;
}
.topbar-user-profile{
    background-color: white;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
}

/* 상단바 전체 */
.topbar{
    position: fixed;
    top:0; left:0;
    display: flex;
    width: 100vw;
    /* overflow:hidden; */
    padding: 16px 36px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    z-index: 100;
    background-color: white;
    box-sizing: border-box;
    color: var(--text);
}

.scrolled{
    color: white;
    background-color: var(--accent);
}