.profileIcon{  
    fill: #d9d9d9;
}
.profileSelectButton label{
    background-color: var(--background);
    border-radius: 8px;
    height: 42px;
    padding: 0px 16px;
    border: none;
    cursor: pointer;

    font-family: 'Noto Sans KR';
    font-size: 16px;

    /* 텍스트 가운데 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileSelectButton:hover{
    font-weight: bold;
    
}

.profileImageBox{
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    justify-self: center;
    gap: 8px;
    padding: 16px 0px;
}

#profileImageInput{
    visibility: hidden;
}

/* 이미지는 cover */
#profileImage{
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
}