:root {
  --background : #f2f2f2;
  --primary: #ffd700;
  --accent: #ff4500;
  --text: #000000;
}

.App {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.logo {
  height: 30px;
}
.mainContainer{
  margin-top: 100px;
}
